body {
  background-color: rgb(85, 85, 85);
  font-family: Arial, sans-serif;
  text-align: center;
  color: white;
}

h1 {
  font-size: 28px;
  font-family: 'Arial Black', Gadget, sans-serif;
  color: #d9ff00;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background: linear-gradient(to right, #ffcc00, #ff9900);
  padding: 10px;
  border-radius: 10px;
}

table {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgb(255, 247, 4);
  padding: 10px;
}

th, td {
  padding: 10px;
}

tr:nth-child(even) {
  background-color: rgb(243, 255, 17);
  color: white; 
}

a {
  color: yellow;
}